.App {
  text-align: center;
  background-color: #282c34;
  height: 10000px;
}

.App-content {
  position: absolute;
  overflow-y: auto;
  top: 220px;
  width: 100%;
}

.App-grid {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

.control__wrapper {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  position: fixed;
  top: 0;
  color: #61dafb;
  z-index: 100;
  width: 100%;
}
